
<div class="heading-text" style="margin-top: 10%; margin-bottom: 10%;"><b>User List</b></div>
<div id="profilecard">
<div class="row">
    <div  *ngFor="let user of users | async"  style="height: 300px;" id="bloodCards">
        
        <div class="column">
            <a><img class="bloodimg" [src]="'assets/img/maleuser.png'" width="140" height="140"></a>    
        </div>  
        <div class="column"> 
        <div class="card-block">
            <div class="text"><b class="element" style="font-family: cursive; font-size: 22px;"> {{user.username}} </b>  <small style="font-weight: bold;"> ({{user.userid}}) </small></div>
            <br>
            <div class="text"><b class="element"> Phone number: </b>  {{user.mobile}} </div>
            <div class="text"><b class="element"> Email: </b> {{user.email}}</div>
            <br>
        </div>
        </div>
        <input type="text">
        <br>
        <button *ngIf="this.hasFeedback.get(user.username) !== true" (click) = "giveFeedbackTo(user)" style="font-weight: 200;background-color: #5d075d;height: 34px;">
            <p style="color:white">
            Give feedback
            </p>
        </button>
        <div *ngIf="this.hasFeedback.get(user.username) == true" (click) = "giveFeedbackTo(user)" style="font-weight: 200;">
            <p style="color:#ff00c0; font-weight:400">
            Feedback submited successfully !
            </p>
        </div>
    </div>
</div>
  </div>

<br><br><br>