
  .logoutbtn{
    border: none;
    background:transparent;
    color: white;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    font-size: medium;
  }
  .logoutbtn:hover{
    cursor: pointer;
    background-color: #f03e3e;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
  }


  .content{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000; 
  }
  .header
  {
    background-color: rgb(93, 7, 93);
    position: relative;
    width: 100%;
    padding: 0 80px;
    box-shadow: 5px 10px 18px #888888;
  }
  .nav{
    display: flex;
     justify-content: space-between;
     margin-top: 15px;
  }

  #log{
    color: #fff;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    transition: all 0.5s ease;
      transform: scale(1);
  }
  #log:hover
  {
    padding: 6px 15px;
    background: rgb(119, 7, 119);
    color: #fff;
      border: none;
      border-radius: 15px;
      margin-left: 15px;
      cursor: pointer;
      outline: none;
  }
  
  #log:active
  {
    transform: translate(10px, 10px);
      -webkit-transform: translate(10px, 10px);
      box-shadow: 0px 1px 0px 0px;
  }

  #log-current{
    font-size: 15px;
    transition: all 0.5s ease;
      transform: scale(1);
      background: rgb(119, 7, 119);
      padding: 6px 15px;
      color: #fff;
        border: none;
        border-radius: 15px;
        margin-left: 15px;
  }

  .dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
     position: absolute;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px #888888;;
    z-index: 1;
  }

  
  .dropdown:hover .dropdown-content {display: block;}

  .detail {
    height: 100px;
    width: 100px;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    transition: transform .4s;
    background-color: white;
    padding: 10px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0.1px 4px 8px 2px rgba(0,0,0,0.2);
  }
  .detail:hover {
  transform: scale(1.05); 
  cursor: pointer;
  background-color: rgb(6, 54, 50);
  }

  .logo {
    display: flex;
    position: relative;
    width: 700px;
  }


  .display-sidebar{
    position: absolute;
    margin-left: -10%;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    transition: all 0.5s ease;
      transform: scale(1);
    font-size: 30px;
    color: white;
    background: none;
    border: none;
  }

  .sidebar{
    background: #6c1466;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    align-items: center;
    position: fixed;
    z-index: 999; 
    display: block;
  }

  .sidebar .nav-list{
    margin-top: 60%;
  }

 .sidebar li:hover {
    opacity: 70%;
    background: white;
    /* color: #6c1466; */
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    cursor: pointer;
    border: 15px;
    border-radius: 20px;
    padding:  0px 6px;
    transform: translateY(-5%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .sidebar li,
  .sidebar li * {
    color: white;
  }

  .sidebar li:hover,
  .sidebar li:hover * {
    color: #6c1466;
} 
.sidebar .li-current {
  width: 150px;
  margin-top: 20px;
  list-style: none;
  opacity: 70%;
  background: white;
  top: 50%;
  border: 15px;
  border-radius: 20px;
  padding:  0px 6px;
  transform: translateY(-5%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sidebar .li-current,
.sidebar .li-current * {
  color: #6c1466;
} 
  .sidebar li{
    width: 150px;
    margin-top: 20px;
    list-style: none;
  }

  .sidebar li a .links_name {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    pointer-events: auto;
    transition: 0.4s;
  }
  
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
