
<div class="container" style="margin-top: 10%;">
    <h2 class="textual"><i class="fa fa-book"></i> New Tutorials </h2>
    <form #addChapterform="ngForm" (ngSubmit)="addMaterials()">
        
        <div class="form-group">
            <label for="coursename">Course Name: <b class="text-dangerous">*</b></label>
            <select (change)="updateMaterials()" class="form-control" id="sel1" name="coursename" [(ngModel)]="selectedName" required
              #coursename="ngModel">
                <option style="color: lightgray;" selected="true" value="default">select course name</option>
                <option *ngFor="let course of coursenames | async">{{course}}</option>
              </select>
            <!--<input type="text" class="form-control" placeholder="enter course name" name="coursename" [(ngModel)]="chapter.coursename" required 
            #coursename="ngModel"
            [class.is-invalid]="coursename.invalid && coursename.touched">
           <small class="text-dangerous" [class.d-none]="coursename.valid || coursename.untouched"><b>Required Field</b></small>-->
        </div>
        <small style="color: gray; font-weight: bold;">Please choose course name from the drop-down</small>
  
        <div class="row" [id]="'material' + i" *ngFor="let material of this.materials; let i = index">
          <div class="form-group">
            <label [for]="'material' + i + 'name'">Tutorial Name: <b class="text-dangerous">*</b></label>
            <input type="text" class="form-control" placeholder="Enter material name" [name]="'material' + i + 'name'" [(ngModel)]="materials[i].materialname">
          </div>
  
          <div class="col-md-4">
          <input type="file" class="file-input"
          (change)="onFileSelectedNew($event, i)" #fileUpload>
        </div>
        <div class="col-md-4">  </div>
        <div class="col-md-4">
  
          <button type="button" (click)="removeMaterial(i)"  style="width: 55%; margin-top: 3.5%; margin-left: 44%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;"><i class="fa fa-trash"></i> Remove</button>
        </div>
  
        </div>
        <button type="button" (click)="addNewMaterial()" style="width: 12%; margin-top: 8px; cursor: pointer; background-color: rgb(15, 28, 130);color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;"><i class="fa fa-plus"></i> Add</button>
  
      <button style="margin-top: 15px;" [disabled]="addChapterform.form.invalid" type="submit" class="btn registerbtn"><i class="fa fa-plus"></i>&nbsp; Add Tutorials</button>
    </form>
  </div>