
<div class="heading-text" style="margin-top: 10%;  margin-bottom: 10%;"><b>Instructor List</b></div>
<div class="row">
        <div *ngFor="let professor of professorlist | async"  id="bloodCards" style="height: 400px;">
        <div class="column">
            <a><img class="bloodimg" [src]="'assets/img/maleuser.png'" width="140" height="140"></a>    
        </div>  
        <div class="column"> 
        <div class="card-block">
            <div class="text"><b class="element" style="font-family: cursive; font-size: 22px;"> {{professor.professorname}} </b>  <small style="font-weight: bold;"> ({{professor.professorid}}) </small></div>
            <br>
            <div class="text"><b class="element"> University: </b>  {{professor.institutionname}} </div>
            <div class="text"><b class="element"> Department: </b>  {{professor.department}} </div>
            <div class="text"><b class="element"> Years of experience: </b>  {{professor.experience}} </div>
            <div class="text"><b class="element"> Academic Rank: </b>  {{professor.degreecompleted}} </div>
            <div class="text"><b class="element"> Phone number: </b>  {{professor.mobile}} </div>
            <div class="text"><b class="element"> Email: </b> {{professor.email}}</div>
            <br>
        </div>

        <div class="status">
            <div *ngIf="professor.status === 'accept'" class="status-btn">Approved Instructor</div>
            <div *ngIf="professor.status === 'reject'" class="status-btn2">Rejected</div>
            <div *ngIf="professor.status === 'false'" class="status-btn1">Approval Pending</div>
        </div>
        </div>
        </div>
    </div>
<br><br><br>