@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.register{
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
    padding: 3%;
}
.register-right{
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 35px 8px rgb(147, 158, 147); 
    margin-left: auto;
    margin-right: auto;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 34%;
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    border: 1px solid rgb(37, 7, 7);
    color: rgb(37, 7, 7);
    font-weight: 600;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
}
.loginbtn
{
    float: right;
    margin-top: 10%;
    margin-right: 25%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: transparent;
    color: #ffffff;
    font-weight: bolder;
    width: 50%;
    cursor: pointer;
}
.loginbtn:hover{
    cursor: pointer;
    background: #ffffff;
    color:  rgb(37, 7, 7);
}
.btnRegister:hover{
    background: rgb(93, 7, 93);
    color: #fff;
    cursor: pointer;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1.5px;
    margin-bottom: -15%;
    font-family: 'Aladin', cursive;
    color: #413613;
}
#home-tab
{
    background-color: none;
}
input
{
    border-radius: 10px;
}
.form-group
{
    margin-bottom: 4%;
}
input{
  border-radius: 12px;
  margin-top: 8px;
  font-weight: bold;
}
.textual
{
  color: rgb(93, 7, 93);
  text-align: center; 
  margin-top: 2%;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 5px;
  font-weight: bolder;
  text-transform: uppercase;
}
label{
  margin-top: 8px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.registerbtn
{
  background-color: transparent;
  padding-left: 8%;
  padding-right: 8%;
  margin: auto;  
  padding-bottom: 7px;
  border-radius: 15px;
  margin-top: -7%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
}
.registerbtn:hover
{
  background-color: rgb(93, 7, 93);
  padding-left: 7%;
  padding-right: 7%;
  cursor: pointer;
  color: white;
}
#bloodCards
{
  margin-right: 5%;
  margin-bottom: 15%;
  width: 50%;
  border-radius: 10px;
  transition: transform .2s;
  padding-left: 2%;
  box-shadow: 5px 5px 25px 8px rgb(147, 158, 147);
}

.bloodimg
{
  float: left;
  margin-top: 3%;
  margin-right: 3%;
}
.card-block
{
margin-top: 3%;
margin-bottom: 3%;
}
.text{
  font-family: verdana;
  font-size: 14px;
  margin-top: 1.5%;
}
.editbtn
{
border: none;
border-radius: 15px;
color: white;
padding: 5px 20px 5px 20px;
margin-top: 5%;
margin-bottom: 1%;
background-color: rgb(93, 7, 93);
}
.editbtn:hover{
cursor: pointer;
}

.btndiv{
align-content: left;
}
#profilecard
{
  margin-left: 30%;
  margin-top: 10%;
	margin-bottom: 10%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profilecard
{
  margin-left: 30%;
  margin-top: 10%;
	margin-bottom: 10%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}